html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}
#grailsLogo {
	padding:20px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 12px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

textarea.callerNotes {
	margin-top:10px;
	height:150px;
	vertical-align:top;
	width:360px;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
    width:70%;

}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	
	padding: 20px;
	font-size: 1.2em;
}



/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.callerNavBar {
	padding:0;
	padding-top:1px;
	height:30px;
	line-height:30px;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;	
}

.callerButton a {
	background-color:green; 
	padding:2px 1px;
	margin:0 5px;
	color:white;
	font-size:11px;
	font-weight:normal;
	border:3px green solid
}

.callerButton a:hover {
	background-color:#53A647;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* NAVIGATION MENU */

#nav {
    margin-top:25px;
    margin-left:30px;
    width:228px;
    float:left;

}
.homePagePanel * {
    margin:0px;
}
.homePagePanel .panelBody ul {
    list-style-type:none;
    margin-bottom:10px;
}

.homePagePanel .panelBody li {
    margin-bottom:10px;
	font-size:9pt;
}

.homePagePanel .panelBody h1 {
    text-transform:uppercase;
    font-size:1.1em;
    margin-bottom:10px;
}
.homePagePanel .panelBody {
    background: url(../images/leftnav_midstretch.png) repeat-y top;
    margin:0px;
    padding:15px;
}
.homePagePanel .panelBtm {
    background: url(../images/leftnav_btm.png) no-repeat top;
    height:20px;
    margin:0px;
}

.homePagePanel .panelTop {
    background: url(../images/leftnav_top.png) no-repeat top;
    height:11px;
    margin:0px;
}
h2 {
    margin-top:15px;
    margin-bottom:15px;
    font-size:1.2em;
}
#pageBody {
    margin-left:280px;
    margin-right:20px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 1px solid #ccc;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
	border: 1px solid #e9e9e9;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	border: 1px solid #ccc;
    background: #f7f7f7;
}
.even {
	border: 1px solid #ccc;
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

table.callerRecord td {
	padding:0px 5px
}

table.callerRecord table {
	margin: 10px 0px 10px 0px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
	line-height:20px;
    text-align: right;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
	line-height:20px;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.districtSearch {
    margin:20px 0px;
    border:1px solid;
    padding:15px;
}

/* Drop down styles */

ul#menu { clear:both; width:160px;, margin-top:10px; }
li.potato-menu-item {
	width:160px;
	font-size:12px;
	background-color:#333;
	background-color:rgba(0,0,0,0.9);
}
li.potato-menu-item a {
	padding:5px 20px 5px 12px;
	color: #fff;
}
li.potato-menu-hover {
	background-color: #666;
}
li.potato-menu-item ul {
	border-top:1px solid #444;
	border-left:1px solid #444;
}


a.order {
	width:300px;
	float:left;
	padding:15px;
/*	background:#FFF3E0;
	border: 3px solid #DDD;*/
	margin:50px;
}

/*a.order:hover {
    background:#ECDFC6;
}*/

a.assess h1 {
    color:#778899;
}

a.assess {
	width:300px;
	float:right;
	padding:15px;
/*	background:#EEFFE3;
	border: 3px solid #DDD;   */
	margin:50px;
    margin-right:100px;
}

/*
a.assess:hover {
	background:#DAEDCD;
}
*/

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin:10px 0 10px 0;
}

legend {
    font-weight: bold;
}

#todayCall td {
	background-color: #ddffe0;
    border-color: #ddffe0;
    margin:0;
}

#todayCall td#date {
	font-weight:bolder;
}