<h1>SuperKids Products</h1><br /> 
<h2>Would you like information about our new whole grain food products?</h2> 
<p style="font-size:12px">Shown here is a full list of products available for school district sampling within the SuperKids Whole Grain Sampling Program.</p> 
<p><strong style="color:#993300;">For product details, select 'Download PDF’ underneath the product pictures.</strong> <p>&nbsp;</p> 


<table style="border:0; margin-bottom:35px;"> <tbody>  
	<tr>  
		<td colspan="2"><h2 style="font-size:18px">Azteca Variety Pack</h2></td> 
</tr>  
	<tr>  
		<td valign="top" rowspan="2" style="width:150px;"> <img alt="Azteca Variety Pack" src="/SuperKids/uploads/azteca.png" style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" /><br /> <br /> 
<div style="line-height:30px;"> <img style="float:left; border:0; height:30px; width:30px" alt="Download PDF" src="/images/pdficon.gif" />&nbsp; <a target="_blank" href="/SuperKids/pdf/Azteca%20Downloadable%20PDF.pdf"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
</div> </td>  
		<td><h2>AZTECA INTRODUCES ULTRAGRAIN<sup>&reg;</sup> TORTILLAS - 6&rdquo; &amp; 8&rdquo;</h2>
<p><br />
<strong>A LOWER SODIUM WHOLE GRAIN OPTION FOR SCHOOL MEALS THAT&rsquo;S BOTH TASTY AND NUTRITIONAL.</strong> Ultragrain is revolutionary whole wheat flour with a taste, texture and appearance to the white flour used in traditional tortillas.  Made from specially selected wheat and milled using a patented process, Ultragrain gives you the best of both worlds &ndash; whole grain nutrition and great taste.</p>
<ul>
    <li>Lower Sodium</li>
    <li>Made with 62.5% whole wheat</li>
    <li>Available in 3 sizes-  9&rdquo; tortillas featured in this year&rsquo;s SuperKids Program (6&rdquo; and 8&rdquo; tortillas are also available from Azteca)</li>
</ul>
 </td> 
</tr>  
	<tr>  
		<td> <h3 style="color:#D16B00; margin-top:0; font-weight:normal">Azteca</h3> <p style="font-size:11px">PO Box 427, Summit-Argo, IL 60501<br /> (708) 563-6678<br/> <strong style="color: rgb(255, 102, 0);">	<a style="color: rgb(255, 102, 0);" href="http://www.aztecafoods.com">www.aztecafoods.com</a></strong> <br/> Edith Crawford, (708) 563-6626, edith.crawford@aztecafoods.com</p> </td> 
</tr> </tbody> 
</table>

<table> style="border:0; margin-bottom:35px;"> <tbody> 
	 
	<tr>  
		<td colspan="2"><h2 style="font-size:18px">7” Par-Baked, 51% White Whole Wheat Pizza Crusts</h2></td> 
</tr>  
	<tr>  
		<td valign="top" rowspan="2" style="width:150px;"> <img alt="16” Par-Baked, 51% White Whole Wheat Pizza Crusts" src="/SuperKids/uploads/comfortcakes.png" style="width:180px; height:140px; margin-bottom:15px; border:1px yellow solid; float:left" /><br /> <br /> 
<div style="line-height:30px;"> <img style="float:left; border:0; height:30px; width:30px" alt="Download PDF" src="/images/pdficon.gif" />&nbsp; <a target="_blank" href="/SuperKids/pdf/ComfortCake%20Downloadable%20pdf.pdf"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
</div> </td>  
		<td><h2>THE WHOLESOME FOUNDATION TO YOUR PIZZA PROGRAM!</h2>
<ul>
    <li>Par-baked pizza crust solutions available in 7, 14, and 16 inch varieties</li>
    <li>51% Ultragrain crusts are sure to deliver the Great Pizzeria taste and nutritional values your students will love!</li>
    <li>Our crust plus your toppings equals the perfect pizza!</li>
</ul>
</td> 
</tr> </tbody> 
</table>


<table style="border:0; margin-bottom:35px;"> <tbody>  
	<tr>  
		<td colspan="2"><h2 style="font-size:18px">Sustagrain<sup>&reg;</sup> Barley Sampler Pack</h2></td> 
</tr>  
	<tr>  
		<td valign="top" rowspan="2" style="width:150px;"> <img alt="Sustagrain<sup>&reg;</sup> Barley Sampler Pack" src="/SuperKids/uploads/Sustagrain-ad.jpg" style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" /><br /> <br /> 
<div style="line-height:30px;"> <img style="float:left; border:0; height:30px; width:30px" alt="Download PDF" src="/images/pdficon.gif" />&nbsp; <a target="_blank" href="/SuperKids/pdf/Sustagrain%20Downloadable%20Pdf.pdf"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
</div> </td>  
		<td> <span style="font-weight:bold">STUDENTS DON’T NEED TO KNOW THEIR MEALS JUST GOT HEALTHIER</span><br/> BOOST FIBER AND WHOLE GRAINS THE EASY WAY WITH SUSTAGRAIN<span class="reg"><sup>&reg;</sup></span><br/> Increase the health benefits of all your meals and snacks with ConAgra Mills Sustagrain<span class="reg"><sup>&reg;</sup></span>, the ultra high-fiber whole grain. All-natural Sustagrain boosts the nutrient density and fiber content of your baked goods, hot cereals, snacks, toppings, fillings and meat dishes. It’s easy! The microfine texture of Sustagrain assures it won’t be noticed by students so you can incorporate it into your existing recipes. With three times the fiber of oats, Sustagrain is the unexpected way to boost nutrition in the foods your students really love. Order Sustagrain through your local distributor. Or contact J.M. Swank at (800) 593-6375, etc. 5907 or <a href="http://www.jmswank.com">www.jmswank.com</a>. <ul>
<li>Sustagrain Flour—A very fine barley flour with neutral flavor – ideal when smooth consistency is required. Use it in breads, hot and RTE cereals, snacks, baked goods, energy bars, soups, pastas, tortillas and wraps, and meat dishes.</li> 
<li>Sustagrain Flakes—A barley flake for use in hot and RTE cereals, cookies, crackers, toppings, inclusions, breads, meat extenders, vegetarian patties, baked goods and snacks.</li> </ul> </td> 
</tr>  
	<tr>  
		<td> <h3 style="color:#D16B00; margin-top:0; font-weight:normal">ConAgra Mills</h3> <p style="font-size:11px">11 ConAgra Drive, Omaha, NE 68102<br /> (800) 851-9618<br/> <strong style="color: rgb(255, 102, 0);">	<a style="color: rgb(255, 102, 0);" href="www.conagramills.com">www.conagramills.com</a></strong> <br/> J.M. Swank (800) 593-6375 ext. 5907, or <a href="www.jmswank.com">www.jmswank.com</a></p> </td> 
</tr> </tbody> 
</table> 

<table style="border:0; margin-bottom:35px;"> <tbody>  
	<tr>  
		<td colspan="2"><h2 style="font-size:18px">Ultragrain<sup>&reg;</sup> Flour Sampler Pack</h2></td> 
</tr>  
	<tr>  
		<td valign="top" rowspan="2" style="width:150px;"> <img alt="Ultragrain<sup>&reg;</sup> Flour Sampler Pack" src="/SuperKids/uploads/Ultragrain-ad.png" style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" /><br /> <br /> 
<div style="line-height:30px;"> <img style="float:left; border:0; height:30px; width:30px" alt="Download PDF" src="/images/pdficon.gif" />&nbsp; <a target="_blank" href="/SuperKids/pdf/Ultragrain%20Downloadable%20pdf.pdf"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
</div> </td>  
		<td> WITH ULTRAGRAIN AND HEALTHY CHOICE<span class="reg"><sup>&reg;</sup></span> FLOURS, IT’S EASY TO TRANSITION YOUR PRODUCTS TO MORE WHOLE GRAIN NUTRITION.<br/> 
		<p>Our T-1 blend is made with 30% Ultragrain, the revolutionary flour that looks, tastes and bakes like white flour. And best of all, you can use it as a 1:1 replacement for the standard white flour in your existing products – from bread, pizza, pasta and tortillas to cookies and pastries. It’s that simple. Just open the bag, and make an instant transition to whole grain nutrition. Then step up to Healthy Choice All-Purpose Flour T-2 made with 55% Ultragrain and 45% white flour, or use 100% Ultragrain – available in both hard wheat and soft wheat varieties. The choice is easy: sample Healthy Choice and Ultragrain flours today!</p> 
		</td> 
</tr>  
	<tr>  
		<td> <h3 style="color:#D16B00; margin-top:0; font-weight:normal">ConAgra Mills</h3> <p style="font-size:11px">11 ConAgra Drive, Omaha, NE 68102<br /> (800) 851-9618<br/> <strong style="color: rgb(255, 102, 0);">	<a style="color: rgb(255, 102, 0);" href="www.conagramills.com">www.conagramills.com</a></strong> <br/> J.M. Swank (800) 593-6375 ext. 5907, or <a href="www.jmswank.com">www.jmswank.com</a></p> </td> 
</tr> </tbody> 
</table> 


<table style="border:0; margin-bottom:35px;"> <tbody>  
	<tr>  
		<td colspan="2"><h2 style="font-size:18px">SMART Cookies</td> 
</tr>  
	<tr>  
		<td valign="top" rowspan="2" style="width:150px;"> <img alt="SMART Cookoes" src="/SuperKids/uploads/dickjanes.png" style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" /><br /> <br /> 
<div style="line-height:30px;"> <img style="float:left; border:0; height:30px; width:30px" alt="Download PDF" src="/images/pdficon.gif" />&nbsp; <a target="_blank" href="/SuperKids/pdf/Ultragrain%20Downloadable%20pdf.pdf"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
</div> </td>  
		<td>Delicious, All Natural, Loaded With Learning<br/> 

SMART Cookies were designed to help kids eat right and do well in school.
<ul>
<li>All natural</li>
<li>Nut free</li>
<li>65% whole grain – 1st ingredient</li>
<li>Available in States & Capitals, Presidents (pictured here) and English & Spanish</li>
</ul>
</td> 
</tr>  
	<tr>  
		<td> <h3 style="color:#D16B00; margin-top:0; font-weight:normal">Dick & Jane Baking Company </h3> <p style="font-size:11px">900 Wilshire Drive, Suite 202, Troy, MI  48084<br /> (248) 519-2418<br/> <strong style="color: rgb(255, 102, 0);">	<a style="color: rgb(255, 102, 0);" href="http://www.dickandjanebakingco.com">www.dickandjanebakingco.com</a></p> </td> 
</tr> </tbody> 
</table> 


<table style="border:0; margin-bottom:35px;"> 
<tbody>  
	<tr>  
		<td colspan="2"><h2 style="font-size:18px">Domino's Pizza<sup>&reg;</sup> Smart Slice</h2></td> 
	</tr> 
 
	<tr> 
 
		<td valign="top" rowspan="2" style="width:150px;"> 
<img alt="Domino's Pizza<sup>&reg;</sup> Smart Slice" src="/SuperKids/uploads/dominos.png" style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" /><br /> <br /> 
<div style="line-height:30px;"> <img style="float:left; border:0; height:30px; width:30px" alt="Download PDF" src="/images/pdficon.gif" />&nbsp; <a target="_blank" href="/SuperKids/pdf/Dominos%20Downloadable%20PDF.pdf"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
</div> 
</td> 
 
		<td> 
Introducing Domino’s Pizza<span class="reg"><sup>&reg;</sup></span> Smart Slice. A line of pizzas created exclusively for schools. <ul> 
<li>Dough – 51% white whole wheat</li> 
<li>School friendly pizza sauce – 35% lower sodium</li> 
<li>Proprietary cheese – ½ the fat</li> 
<li>Pepperoni – 33% less fat and 50% less sodium</li> 
<li>Topping variety – limitless! </li> 
<li>Fresh from the oven = customizable for your school’s tastebuds</li> </ul> </td> 
</tr>  
	<tr>  
		<td> <h3 style="color:#D16B00; margin-top:0; font-weight:normal">Domino's Pizza</h3> <p style="font-size:11px">30 Frank Lloyd Wright Drive, P.O. Box 997, Ann Arbor, MI 48106-0997<br /> (800) 810-6633<br/> <strong style="color: rgb(255, 102, 0);">	<a style="color: rgb(255, 102, 0);" href="http://dominos.com">www.dominos.com</a> & <a style="color: rgb(255, 102, 0);" href="http://schoollunch.dominos.com">www.schoollunch.dominos.com</a></strong> <br/> Domino’s School Lunch Team: SchoolLunchInfo@dominos.com</p> </td> 
</tr> </tbody> 
</table> 

<table style="border:0; margin-bottom:35px;"> <tbody>  
	<tr>  
		<td colspan="2"><h2 style="font-size:18px">Integrated Food Service Variety Pack</h2></td> 
</tr>  
	<tr>  
		<td valign="top" rowspan="2" style="width:150px;"> <img alt="Integrated Food Service Variety Pack" src="/SuperKids/uploads/integrated.png" style="width:150px; height:150px; margin-bottom:15px; border:1px yellow solid; float:left" /><br /> <br /> 
<div style="line-height:30px;"> <img style="float:left; border:0; height:30px; width:30px" alt="Download PDF" src="/images/pdficon.gif" />&nbsp; <a target="_blank" href="/SuperKids/pdf/Integrated%20Downloadable%20Pdf.pdf"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
</div> </td>  
		<td> <h3 style="margin-top:5px;">Kids Love Our New Healthy Menu Solutions!</h3> <p>Come try our healthy new reduced fat and low-sodium products, featuring our delicious vegetarian options!</p> <p style="font-weight:bold;">Featured in this year’s sample pack: Whole Grain Grilled Cheese and Ultragrain® Cinnamon Toast.</p> <ul> 
<li>1 serving of whole grain in the Whole Grain Grilled Cheese, 2.25 full serving of Bread Credit, 1 serving of Whole Grain Credit</li> 
<li>1 serving of whole grain in the Ultragrain Cinnamon Toast, 2 full servings of Bread Credit, 1 serving of Whole Grain Credit</li> 
<li>0 Trans Fat</li> 
<li>Individually Wrapped (logo wrapper)</li> 
<li>Serve Daily as a Vegetarian Menu Option!</li> 
<li>Commodity Processing</li> </ul> </td> 
</tr>  
	<tr>  
		<td> <h3 style="color:#D16B00; margin-top:0; font-weight:normal">Integrated Food Service</h3> <p style="font-size:11px">310 W. Alondra Blvd., Gardena, CA 90248<br /> (310) 523-3664<br/> <strong style="color: rgb(255, 102, 0);">	<a style="color: rgb(255, 102, 0);" src="http://www.integratedfoodservice.com">www.integratedfoodservice.com</a></strong> <br/> Jackie Ramos (310) 523-3664, jramos@integratedfoodservice.com</p> </td> 
</tr> </tbody> 
</table> 

<table style="border:0; margin-bottom:35px;"> <tbody>  
	<tr>  
		<td colspan="2"><h2 style="font-size:18px">Ultragrain Pasta&trade;</h2></td> 
</tr>  
	<tr>  
		<td valign="top" rowspan="2" style="width:150px;"> <img alt="Ultragrain Pasta &trade;" src="/SuperKids/uploads/jmswank.png" style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" /><br /> <br /> 
<div style="line-height:30px;"> <img style="float:left; border:0; height:30px; width:30px" alt="Download PDF" src="/images/pdficon.gif" />&nbsp; <a target="_blank" href="/SuperKids/pdf/JM%20Swank%20Downloadable%20PDF.pdf"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
</div> </td>  
		<td> <h3>Ultragrain Pasta<span class="reg"><sup>&trade;</sup></span>.  Stealth nutrition for every meal.</h3> <ul> 
<li>6 varieties of pasta (penne, 9-grain orzo, lasagna, rotini, spaghetti, macaroni) </li> 
<li>0 grams Trans Fat </li> 
<li>Mild flavor </li> 
<li>Light color </li> 
<li>Speck-free appearance </li> </ul> </td> 
</tr>  
	<tr>  
		<td> <h3 style="color:#D16B00; margin-top:0; font-weight:normal">JM Swank</h3> <p style="font-size:11px">395 Herky St., PO Box 365, North Liberty, IA 52317<br /> (866) 717-9265<br/> <strong style="color: rgb(255, 102, 0);">	<a style="color: rgb(255, 102, 0);" href="http://www.jmswank.com">www.jmswank.com</a></strong> <br/> </p> </td> 
</tr> </tbody> 
</table> 

<table style="border:0; margin-bottom:35px;">
					<tbody>
						<tr>
							<td colspan="2"><h2 style="font-size:18px">Mountain Farm&trade; 24 oz. White Pullman made with Whole Grains</h2></td>
						</tr>
						<tr>
							<td valign="top" style="width:150px;" rowspan="2">

							<img style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" src="/SuperKids/uploads/flowers.png" alt="Mountain Farm™ 24 oz. White Pullman made with Whole Grains"><br>
							<br>
							<div style="line-height:30px;">
							    <img src="/images/pdficon.gif" alt="Download PDF" style="float:left; border:0; height:30px; width:30px">&nbsp; <a href="/userfiles/file/PDF/ConAgra%20Foods%20Downloadable%20PDF.pdf" target="_blank"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
							</div>
							</td>
							<td>
							<h2>THE PREFERRED APPEARANCE OF WHITE BREAD YET IS PACKED WITH ALL THE NUTRITIONAL VALUE NEEDED FOR CHILD NUTRITION PROGRAMS.  </h2><br>
Serve as toast or start a sandwich with this terrific bread!  

<ul>
<li>8g of whole grains</li>
<li>1 CN bread serving</li>
<li>Zero transfats</li>
<li>No high fructose corn syrup</li>
<li>Only 80 calories </li>
</ul>

							</td>
						</tr>
						<tr>
							<td>
							<h3 style="color:#D16B00; margin-top:0; font-weight:normal">Flowers Bakeries Foodservice</h3>
							<p style="font-size:11px">5087 South Royal Atlanta Drive<br>
							(866) 357-6225<br>
							<strong style="color: rgb(255, 102, 0);">	<a href="www.europeanbakers.com" style="color: rgb(255, 102, 0);">www.europeanbakers.com</a></strong> <br>

                            Mike Fromme, VP Foodservice Sales, (866) 357-6225, Mike.Fromme@flocorp.com</p>

							</td>
						</tr>
					</tbody>
				</table>

				<table style="border:0; margin-bottom:35px;">
									<tbody>
										<tr>
											<td colspan="2"><h2 style="font-size:18px">Integrated Food Service Variety Pack</h2></td>
										</tr>
										<tr>
											<td valign="top" style="width:150px;" rowspan="2">

											<img style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" src="/SuperKids/uploads/integrated.png" alt="Integrated Food Service Variety Pack"><br>
											<br>
											<div style="line-height:30px;">
											    <img src="/images/pdficon.gif" alt="Download PDF" style="float:left; border:0; height:30px; width:30px">&nbsp; <a href="/userfiles/file/PDF/ConAgra%20Foods%20Downloadable%20PDF.pdf" target="_blank"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
											</div>
											</td>
											<td>
											<h2>Kids Love Our New Healthy Menu Solutions!</h2>
				<h3>Come try our healthy new reduced fat and low-sodium products, featuring our delicious vegetarian options!</h3>

				<p style="font-weight:bold;">Featured in this year’s sample pack: BBQ Chicken Quesadilla, Southwest Veggie Quesadilla and Grilled Cheese Sandwich.</p>
				<ul>
				    <li>1 serving of whole grain in the BBQ Chicken Quesadilla, 2.25 full serving of Bread Credit, 2 Meat/Meat Alternative</li>
				    <li>1 serving of whole grain in the Southwest Veggie Quesadillas, 2.25 full servings of Bread Credit, 2 Meat/Meat Alternative</li>
				    <li>1 serving of whole grain in the Reduced Fat/Reduced Sodium Grilled Cheese Sandwich, 2.25 full servings of Bread Credit, 2 Meat/Meat Alternative</li>
				    <li>O Trans Fat</li>
				    <li>Serve Southwest Veggie Quesadillas and Grilled Cheese Sandwiches Daily as a Vegetarian Menu Option!</li>
				    <li>Quesadillas are Individually Wrapped (logo wrapper) or available in bulk with a sleeve bag insert</li>
				</ul>
											</td>
										</tr>
										<tr>
											<td>
											<h3 style="color:#D16B00; margin-top:0; font-weight:normal">Integrated Food Service</h3>
											<p style="font-size:11px">310 W. Alondra Blvd., Gardena, CA  90248<br>
											(310) 523-3664<br>
											<strong style="color: rgb(255, 102, 0);">	<a src="http://www.integratedfoodservice.com" style="color: rgb(255, 102, 0);">www.integratedfoodservice.com</a></strong> <br>

				                            Michelle Reitzin-Bass, (818) 591-5806, michellereitzin@aol.com</p>

											</td>
										</tr>
									</tbody>
								</table>

<table style="border:0; margin-bottom:35px;">
					<tbody>
						<tr>
							<td colspan="2"><h2 style="font-size:18px">Sustagrain&reg; Instant Hot Cereal </h2></td>
						</tr>
						<tr>
							<td valign="top" style="width:150px;" rowspan="2">

							<img style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" src="/SuperKids/uploads/hotcereal.png" alt="Sustagrain® Instant Hot Cereal "><br>
							<br>
							<div style="line-height:30px;">
							    <img src="/images/pdficon.gif" alt="Download PDF" style="float:left; border:0; height:30px; width:30px">&nbsp; <a href="/userfiles/file/PDF/ConAgra%20Foods%20Downloadable%20PDF.pdf" target="_blank"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
							</div>
							</td>
							<td>
							<h2>Sustagrain&reg; Instant Hot Cereal</h2>
<p>&nbsp;</p>
<h3>The Skinny on Sustagrain</h3>
<ul>
    <li>2 varieties of hot cereal (apple cinnamon and maple toffee)</li>
    <li>0 grams Trans Fat</li>
    <li>Higher fiber</li>
</ul>
							</td>
						</tr>
						<tr>
							<td>
							<h3 style="color:#D16B00; margin-top:0; font-weight:normal">JM Swank</h3>
							<p style="font-size:11px">395 Herky St., PO Box 365, North Liberty, IA  52317<br>
							(866) 717-9265<br>
							<strong style="color: rgb(255, 102, 0);">	<a href="http://www.jmswank.com" style="color: rgb(255, 102, 0);">www.jmswank.com</a></strong> <br>

                            Shannon Sojka, (866) 717-9265, shannon.sojka@conagrafoods.com</p>

							</td>
						</tr>
					</tbody>
				</table>


<table style="border:0; margin-bottom:35px;">
					<tbody>
						<tr>
							<td colspan="2"><h2 style="font-size:18px">Whole Grain Frosted Strawberry Pop-Tarts</h2></td>
						</tr>
						<tr>
							<td valign="top" style="width:150px;" rowspan="2">

							<img style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" src="/SuperKids/uploads/kellogs.png" alt="Whole Grain Frosted Strawberry Pop-Tarts"><br>
							<br>
							<div style="line-height:30px;">
							    <img src="/images/pdficon.gif" alt="Download PDF" style="float:left; border:0; height:30px; width:30px">&nbsp; <a href="/userfiles/file/PDF/ConAgra%20Foods%20Downloadable%20PDF.pdf" target="_blank"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
							</div>
							</td>
							<td>
							<h2>THE KIDS WILL NEVER HAVE A CLUE!</h2>
<p><br>
With Kellogg’s<sup>&reg;</sup> Pop-Tarts<sup>&reg;</sup> toaster pastries One Serving of Whole Grain, your students don’t know they are eating something nutritious.  There is no reason to tell the kids, just smile and feel confident about offering a delicious choice that meets nutrition standards.</p>
<ul>
    <li>Meets all nutrition standards to qualify for Healthier U.S. School Challenge and U.S.D.A meal guidelines</li>
    <li>16g of whole grains</li>
    <li>5g of fiber in each toaster pastry</li>
</ul>
							</td>
						</tr>
						<tr>
							<td>
							<h3 style="color:#D16B00; margin-top:0; font-weight:normal">Kellog's</h3>
							<p style="font-size:11px">545 Lamont Road, Elmhurst, IL  60126<br>
							(877) 511-5777<br>
							<strong style="color: rgb(255, 102, 0);">	<a href="www.kelloggsfoodawayfromhome.com" style="color: rgb(255, 102, 0);">www.kelloggsfoodawayfromhome.com</a></strong> <br>

                            Johanna Metz, (630) 956-9741, johnstonjo@sbcglobal.net</p>

							</td>
						</tr>
					</tbody>
				</table>


				<table style="border:0; margin-bottom:35px;">
									<tbody>
										<tr>
											<td colspan="2"><h2 style="font-size:18px">Cheddar Goldfish&reg; Made With Whole Grain </h2></td>
										</tr>
										<tr>
											<td valign="top" style="width:150px;" rowspan="2">

											<img style="width:150px; height:180px; margin-bottom:15px; border:1px yellow solid; float:left" src="/SuperKids/uploads/pepperidge.png" alt="Cheddar Goldfish® Made With Whole Grain "><br>
											<br>
											<div style="line-height:30px;">
											    <img src="/images/pdficon.gif" alt="Download PDF" style="float:left; border:0; height:30px; width:30px">&nbsp; <a href="/userfiles/file/PDF/ConAgra%20Foods%20Downloadable%20PDF.pdf" target="_blank"><span style="color: rgb(255, 102, 0);">Download PDF</span></a>
											</div>
											</td>
											<td>
											<h2>Taste the whole grain, wholesome goodness of Pepperidge Farm Goldfish Crackers in every bite.</h2>
				<p>&nbsp;</p>
				<ul>
				    <li>Meets 1 bread/grain per serving requirement</li>
				    <li>Natural , no artificial preservatives</li>
				    <li>Baked with real Cheddar cheese</li>
				    <li>100 calories per pouch</li>
				    <li>Contains 0 grams Trans Fat</li>
				</ul>
											</td>
										</tr>
										<tr>
											<td>
											<h3 style="color:#D16B00; margin-top:0; font-weight:normal">Pepperidge Farm</h3>
											<p style="font-size:11px">595 Westport Ave. Norwalk, CT  06851 <br>
											(800) 879-7687<br>
											<strong style="color: rgb(255, 102, 0);">	<a href="http://www.campbellfoodservice.com/pepperidgefarm" style="color: rgb(255, 102, 0);">www.campbellfoodservice.com/pepperidgefarm</a></strong> <br>

				                            </p>

											</td>
										</tr>
									</tbody>
								</table>